<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<h:head>
	<title>Conferre 0.0.1</title>
</h:head>
<body>
	<f:view>
		<h:form>
			<p:growl id="growl" sticky="true" showDetail="true" />
			<p:wizard flowListener="#{crearConferenciaWizard.onFlowProcess}">
				<p:tab id="general" title="Generales">
					<p:panel header="Datos Generales">
						<p:messages />
						<h:panelGrid columns="2" columnClasses="label, value">
							<h:outputText value="Nombre Conferencia: *" />
							<p:inputText value="#{crearConferenciaWizard.conferencia.nombre}"
								required="true" label="Nombre Conferencia" />
							<h:outputText value="Lugar Realización: *" />
							<p:selectOneListbox
								value="#{crearConferenciaWizard.conferencia.lugar}">
								<f:selectItem itemLabel="Lugar 1" itemValue="LG1" />
								<f:selectItem itemLabel="Lugar 2" itemValue="LG2" />
								<f:selectItem itemLabel="Lugar 3" itemValue="LG3" />
							</p:selectOneListbox>

							<h:outputText value="Fecha y Hora Inicio: *" />
							<p:calendar
								value="#{crearConferenciaWizard.conferencia.fechaInicio}"
								pattern="MM/dd/yyyy HH:mm:ss" />

							<h:outputText value="Fecha y Hora Finalización: *" />
							<p:calendar
								value="#{crearConferenciaWizard.conferencia.fechaFinalizacion}"
								pattern="MM/dd/yyyy HH:mm:ss" />

						</h:panelGrid>
					</p:panel>
				</p:tab>
				<p:tab title="Eventos">
					<p:panel header="Definición de Eventos">
						<p:messages />
						<h:panelGrid columns="1">
							<p:commandButton value="Adicionar Evento" type="button"
								onclick="PF('dlg2').show();" actionListener="#{crearConferenciaWizard.nuevoEvento}"  />
							<p:dialog header="Crear Evento" widgetVar="dlg2" modal="true"
								height="100">
								<h:panelGrid columns="2" style="width:100%" cellpadding="5"
									columnClasses="label,value">
									<h:outputText value="Nombre Evento: *" />
									<p:inputText value="#{crearConferenciaWizard.evento.nombre}"
										required="true" label="Nombre Evento" />
									<h:outputText value="Hora Inicio: *" />
									<p:calendar value="#{crearConferenciaWizard.evento.horaInicio}"
										pattern="HH:mm:ss" timeOnly="true" />

									<h:outputText value="Duración en horas: *" cellpadding="2" />
									<p:inputText id="duracion" value="#{evento.duracionEnHoras}" />
									<p:slider for="duracion" minValue="1" maxValue="24" />
									<p:commandButton value="Guardar"
										actionListener="#{crearConferenciaWizard.addEvento}"
										update="eventosList" process="@this" />
								</h:panelGrid>
							</p:dialog>
							<p:carousel id="eventosList" value="#{crearConferenciaWizard.conferencia.eventos}"
								headerText="Eventos" var="evento">
								<h:panelGrid columns="2" style="width:100%" cellpadding="5"
									columnClasses="label,value">
									<f:facet name="header">
										<h:outputText value="#{evento.nombre}" />
									</f:facet>
									<h:outputText value="Hora" />
									<h:outputText value="#{evento.horaInicio}" />
									<h:outputText value="#{evento.duracionEnHoras}" />
								</h:panelGrid>
								<f:facet name="footer">En total son #{fn:length(crearConferenciaWizard.conferencia.eventos)} eventos.</f:facet>
							</p:carousel>
							<p:commandButton value="Guardar"
								actionListener="#{crearConferenciaWizard.save}" update="growl"
								process="@this" />
						</h:panelGrid>
					</p:panel>
				</p:tab>
			</p:wizard>

		</h:form>
	</f:view>
</body>
</html>