<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="ParqueoWeb">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <dependent-module archiveName="jersey-gf-cdi-2.14.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib//home/david/Descargas/jersey-gf-cdi-2.14.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="ParqueoWeb"/>
        <property name="java-output-path" value="/ParqueoWeb/build/classes"/>
    </wb-module>
</project-modules>
