<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>
	<h:form>
		<p:schedule id="conferenceSchedule"
			value="#{conferenceView.eventosEspacio}">
			<p:ajax event="dateSelect" listener="#{conferenceView.onDateSelect}"
				oncomplete="PF('conferenceDialog').show();" />
		</p:schedule>
		<p:dialog widgetVar="conferenceDialog" header="Crear Conferencia"
			showEffect="clip" hideEffect="clip">
			<h:panelGrid id="detalleConferencia" columns="2">
				<h:outputLabel for="nombre" value="Nombre:" />
				<p:inputText id="nombre" value="#{conferenceView.conference.nombre}"
					required="true" />
				<h:outputLabel for="fecha" value="Fecha:" />
				<p:inputMask id="fecha" value="#{scheduleView.event.fecha}"
					mask="99/99/9999">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone="GMT+2" />
				</p:inputMask>

				<h:outputLabel for="sillas" value="Sillas:" />

				<p:commandButton type="reset" value="Reiniciar" />
				<p:commandButton id="addButton" value="Guardar"
					actionListener="#{conferenceView.addConference}"
					oncomplete="PF('conferenceSchedule').update();PF('conferenceDialog').hide();" />
			</h:panelGrid>
		</p:dialog>
	</h:form>
</h:body>
</html>
