<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>
	<h:messages />
	<h:form id="d" >
		<p:selectOneListbox id="espaciosList"
			value="#{conferenceView.espacio}" filter="true"
			filterMatchMode="contains">
			<f:selectItems value="#{espaciosListView.espacios}" var="espacio"
				itemLabel="#{espacio.code}" itemValue="#{espacio.id}" />
			<p:column>
				<h:outputText value="#{espacio.code}" />
			</p:column>
			<p:column>
				<h:outputText value="#{espacio.capacidad}" />
			</p:column>
		</p:selectOneListbox>
		
		<p:commandButton value="Seleccionar" ajax="false"  action="#{conferenceView.mostrarCalendario}" icon="ui-icon-check" />
	</h:form>
</h:body>
</html>
